In [1]:
import bdpy 
import pandas as pd 
import numpy as np

In [2]:
img_ids = pd.read_csv('./image_training_id.csv', header=None)
data = bdpy.BData('./Subject1.h5')
dt = np.array(data.select('DataType'))

train_indexes = dt == 1
test_indexes = dt == 2
fmri_data = np.array(data.select('ROI*'))
train_data = fmri_data[train_indexes[:, 0], :]
test_data = fmri_data[test_indexes[:, 0], :]

train_ids = np.array(data.select('Label'))[:, 0]
train_ids = train_ids[train_indexes[:, 0]]
train_ids.shape

(1200,)

In [3]:
[img_ids.set_index(0, drop=True).index.get_loc(train_ids[i]) for i in range(4)]

[323, 133, 1010, 933]

In [5]:
img_ids.set_index(0, drop=True).index.get_loc('2766534.015976')

2766534.015976

In [6]:
img_ids

                 0                     1
0     1.518878e+06  n01518878_10042.JPEG
1     1.518878e+06  n01518878_12028.JPEG
2     1.518878e+06  n01518878_14075.JPEG
3     1.518878e+06  n01518878_14910.JPEG
4     1.518878e+06   n01518878_5958.JPEG
...            ...                   ...
1195  1.311188e+07  n13111881_28475.JPEG
1196  1.311188e+07   n13111881_6054.JPEG
1197  1.311188e+07   n13111881_6560.JPEG
1198  1.311188e+07   n13111881_7817.JPEG
1199  1.311188e+07   n13111881_9170.JPEG

[1200 rows x 2 columns]

In [64]:
img_ids[img_ids[0] == train_ids[10]]

                0                     1
176  2.090827e+06  n02090827_10084.JPEG

In [51]:

test_data.shape

(1750, 4466)

In [7]:
import numpy as np 
dt = np.array(data.select('DataType'))
dt[dt == 2].shape

(1750,)

In [6]:
voxel_x = data.get_metadata('voxel_x', where='VoxelData')

In [29]:
vols = data.get_metadata('VolInds', where='VoxelData')

array([nan, nan, nan, ..., nan, nan, nan])

In [33]:
run = np.array(data.select('Run'))
run[run == 5].shape

(125,)

In [25]:
voxel_x.shape

(4466,)

In [18]:
labels = data.get_metadata('Label', where='VoxelData')

In [26]:
np.array(data.select('ROI_V1')).shape

(3450, 1004)

In [27]:
np.array(data.select('Label')).shape

(3450, 3)

[323, 133, 1010, 933]